<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangui.sanguimall.admin.mapper.QrtzCalendarsMapper">
  <resultMap id="BaseResultMap" type="com.sangui.sanguimall.admin.model.entity.QrtzCalendars">
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="CALENDAR_NAME" jdbcType="VARCHAR" property="calendarName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sangui.sanguimall.admin.model.entity.QrtzCalendars">
    <result column="CALENDAR" jdbcType="BLOB" property="calendar" />
  </resultMap>
  <sql id="Base_Column_List">
    SCHED_NAME, CALENDAR_NAME
  </sql>
  <sql id="Blob_Column_List">
    CALENDAR
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendarsKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from qrtz_calendars
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendarsKey">
    delete from qrtz_calendars
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="SCHED_NAME" keyProperty="schedName" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendars" useGeneratedKeys="true">
    insert into qrtz_calendars (CALENDAR_NAME, CALENDAR)
    values (#{calendarName,jdbcType=VARCHAR}, #{calendar,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" keyColumn="SCHED_NAME" keyProperty="schedName" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendars" useGeneratedKeys="true">
    insert into qrtz_calendars
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="calendarName != null">
        CALENDAR_NAME,
      </if>
      <if test="calendar != null">
        CALENDAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="calendarName != null">
        #{calendarName,jdbcType=VARCHAR},
      </if>
      <if test="calendar != null">
        #{calendar,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendars">
    update qrtz_calendars
    <set>
      <if test="calendar != null">
        CALENDAR = #{calendar,jdbcType=BLOB},
      </if>
    </set>
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sangui.sanguimall.admin.model.entity.QrtzCalendars">
    update qrtz_calendars
    set CALENDAR = #{calendar,jdbcType=BLOB}
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and CALENDAR_NAME = #{calendarName,jdbcType=VARCHAR}
  </update>
</mapper>