<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangui.sanguimall.member.mapper.UmsIntegrationChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.sangui.sanguimall.member.model.entity.UmsIntegrationChangeHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="change_count" jdbcType="INTEGER" property="changeCount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="source_tyoe" jdbcType="TINYINT" property="sourceTyoe" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, create_time, change_count, note, source_tyoe
  </sql>
  <resultMap id="HistoryWithMemberMap" type="com.sangui.sanguimall.member.model.vo.IntegrationChangeHistoryVo">
    <id column="id" property="id"/>
    <result column="member_id" property="memberId"/>
    <result column="username" property="username"/>
    <result column="nickname" property="nickname"/>
    <result column="mobile" property="mobile"/>
    <result column="email" property="email"/>
    <result column="change_count" property="changeCount"/>
    <result column="note" property="note"/>
    <result column="source_tyoe" property="sourceType"/>
    <result column="create_time" property="createTime"/>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_integration_change_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_integration_change_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sangui.sanguimall.member.model.entity.UmsIntegrationChangeHistory" useGeneratedKeys="true">
    insert into ums_integration_change_history (member_id, create_time, change_count, 
      note, source_tyoe)
    values (#{memberId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{changeCount,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR}, #{sourceTyoe,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sangui.sanguimall.member.model.entity.UmsIntegrationChangeHistory" useGeneratedKeys="true">
    insert into ums_integration_change_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="changeCount != null">
        change_count,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="sourceTyoe != null">
        source_tyoe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeCount != null">
        #{changeCount,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceTyoe != null">
        #{sourceTyoe,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sangui.sanguimall.member.model.entity.UmsIntegrationChangeHistory">
    update ums_integration_change_history
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeCount != null">
        change_count = #{changeCount,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceTyoe != null">
        source_tyoe = #{sourceTyoe,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sangui.sanguimall.member.model.entity.UmsIntegrationChangeHistory">
    update ums_integration_change_history
    set member_id = #{memberId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      change_count = #{changeCount,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      source_tyoe = #{sourceTyoe,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectWithMember" parameterType="java.lang.String" resultMap="HistoryWithMemberMap">
    select h.id,
      h.member_id,
      h.create_time,
      h.change_count,
      h.note,
      h.source_tyoe,
      m.username,
      m.nickname,
      m.mobile,
      m.email
    from ums_integration_change_history h
      left join ums_member m on m.id = h.member_id
    <where>
      <if test="keyword != null and keyword != ''">
        (m.username like concat('%', #{keyword}, '%')
        or m.nickname like concat('%', #{keyword}, '%')
        or m.mobile like concat('%', #{keyword}, '%')
        or m.email like concat('%', #{keyword}, '%'))
      </if>
    </where>
    order by h.id asc
  </select>
</mapper>
